<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MakeMyTrip Test Suite">
	
	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportsListener" />
	</listeners>

	<test name="MakeMyTrip TestCases">
		<classes>
			<class name="com.makemytrip.qa.testcases.Flights_SearchFlights" />
			<class name="com.makemytrip.qa.testcases.Flights_FindCheapest" />
			<class name="com.makemytrip.qa.testcases.Flights_FindCheapestAndProceedBooking" />
		</classes>

	</test>

</suite>